:root{

  --primary:#2F8A37;
  --role:#bee1be;
  --primary-hover:#256F2C;
  --secondary:#F8FAF7;
  --card:#FFFFFF;
  --text:#222;
  --muted:#666;
  --border:#DDE5DB;

  --shadow:0 15px 35px rgba(0,0,0,.08);

  --radius:22px;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Poppins, sans-serif;

    background:var(--secondary);

    color:var(--text);

}

button,
input{

    font-family:inherit;

}